# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Deploy to AWS Lambda, native build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-deploy:
  
    name: build native and deploy to aws lambda
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
#    - name: Set up JDK 11
#      uses: actions/setup-java@v3
#      with:
#        java-version: '11'
#        distribution: 'temurin'
#        cache: maven
    - uses: graalvm/setup-graalvm@v1
      with:
        version: 'latest'
        java-version: '11'
        components: 'native-image'
   #     github-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Example step
      run: |
          echo "GRAALVM_HOME: $GRAALVM_HOME"
          echo "JAVA_HOME: $JAVA_HOME"
          java --version
          gu --version
          native-image --version
    - uses: aws-actions/configure-aws-credentials@v2
      with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1
  #  - name: install native image
  #    run: gu install native-image
    - name: mvn clean install Quarkus native build
      run: mvn clean install -Dnative -Dquarkus.native.container-build=true
    - name: AWS Lambda deploy
      run: aws lambda update-function-code --function-name hackAndLearn-rebuild --zip-file fileb://target/function.zip --region eu-central-1
